<div class="prices">

			<h3>Explore Airbnb picks</h3>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/6152848/b04eddeb_original.jpg?aki_policy=x_medium">
				<div class="price-stamp">R$ 158</div>
				<div class="description">
					<h4>Loft Studio in the Central Area</h4>
				</div>
			</div>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/34792065/bae84a3f_original.jpg?aki_policy=x_medium">
				<div class="price-stamp">$ 1399</div>
				<div class="description">
					<h4>Everview Suite</h4>
				</div>
			</div>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=x_medium">
				<div class="price-stamp">$576</div>
				<div class="description">
					<h4>180° View, private pool villa</h4>
				</div>
			</div>

		</div>
