<%# <div class="container">
  <p class="header">Your Favorite List</p>
  <div class="content">
     <div class="wrapper">
      <div class="box vintage">
        <img src=https://a2.muscache.com/ac/pictures/2a4e63c3-c981-4cbc-9c37-80a6ab3a9d24.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" alt="EMMYLOU">
        <h2>Curt's Brooklyn Light Apartment</h2>
        <p>$1162 Daily</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="box w-content">
        <img src="https://a1.muscache.com/airbnb/guidebook/v1_new_york_food_scene_carousel@2x.jpg" alt="Jenny of Oldstones">
        <div class="frame">
          <h2>Nick's Reg's Choice Shared Room</h2>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="box postcard">
        <img src="https://a2.muscache.com/airbnb/guidebook/v1_london_drinks_nightlife_carousel@2x.jpg" alt="BOX">
        <h2>Ellsworth's Reg's Equinox Shared Room  <p class="hide">$636 Daily</p></h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="box zoom-in">
        <img src="https://source.unsplash.com/900x900/?italy,travel
" alt="Postcards From Italy">
        <h2>Postcards From Italy</h2>
        <p>And I will love to see that day</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="box blury-card" >
        <img src="https://source.unsplash.com/900x900/?street,travel
" alt="Blue Ridge Mountains">
        <div class="frame">
          <h2>Blue Ridge</h2>
          <p>MOUNTAINS</p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="box zoom-out">
        <img src="https://source.unsplash.com/900x900/?photography
" alt="Melody Noir">
        <div class="frame">
          <h2>MELODY <span>NOIR</span></h2>
          <p>Tell me where the wind is blowing 'cause that's where the music's going</p>
        </div>
      </div>
    </div>
  </div>
</div> %>
