.formbooking{
  text-align: center;
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;

}
.formbooking input{
  padding: 12px;
  font-size: 14px;
  border: 1px solid #c6c6c6;
  width: 100%;
  margin-bottom: 18px;
  color: #888;
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.formbooking:hover{
  color: sandybrown;
}

.backgroundimg{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text2{
  color: #ee7752;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formbooking{
  width: 346px;
	height: 626px;
  margin: 36%;
  margin-top: 10px;
}

.barb{
  position: relative;
 z-index: 2;
 padding: 1.25rem 0 1.25rem 0;
 margin-right: 2%;
 ul {
   line-height: 2.2;
   display: flex;
   justify-content: flex-start;
   li {
     display: inline-block;
     margin: 0.325rem 0;
     color: #03c8a8;
   }
 }
}
