// Import page-specific CSS files here.
@import "home";

.login-page{
  background-color: bisque;
  color: red;
  text-align-last: right;

}

.banner{
  background-color: antiquewhite;
}

.banner-pic{
  margin-bottom: 50px;
  padding: 50px;
}

.city-selector{

}

.properties{
  background-color: aliceblue;
  border: 1px, solid;
  text-align:center;

}

.p-card{
  justify-content: space-around;
  border: 5px, solid;
  display: flex;
  padding:25px;
  margin-left: 0%;
}

.p-card-title{
  display: flex;
  justify-content: space-around;
}
