// Import page-specific CSS files here.
@import "home";
@import "favorities";
@import "bookings";
@import "forms";
@import "new";


li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #EBEBEB;
  min-width: 80px;
  margin: auto;
}
li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262C;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #EF816C;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}
@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.login-page{
  background-color: bisque;
  color: red;
  text-align-last: right;
  justify-content:right;
  height: 500px;

}
.banner{
  background-color: antiquewhite;
}
.banner-pic{
  margin-bottom: 50px;
  padding: 50px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F0F2F5;
  color: #1C1E21;
}
h2{
  color: rgb(34, 104, 189);
  padding: 10px;
}
h2,h3{
  text-align: center;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  height: 90vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
}

.form-inputs{
  flex: 0 0 50%;
  text-align: left;
}

.form-container{
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 400px;
}
input{
  border: 1px solid #DDDFE2;
  color: #1D2129;
  padding: 0 8px;
  outline: none;
}
.form-inputs .form-container input:focus {
  border-color: #1877F2;
  box-shadow: 0 0 0 2px #E7F3FF;
}

.city-welcome
{
  height: 200px;
  margin-left:25%;
}

.city-welcome h1{
  font-size: 50px;
  padding: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.p-card {
  font-family: 'Times New Roman', Times, serif;
  background-color: whitesmoke;
  border: 1px solid #189B38;
  padding: 10px;
  border-radius: 5px;
  float: left;
  width: calc(33.333333333% - 20px);
  height: 365px;
  margin: 0 10px 20px 10px;
}

.p-card p{
  font-family: Monaco, Sans-serif;
  color:rgba(13, 5, 99, 0.981);
}

.p-action{
  padding:30px;
}

.p-action button{
  font-size: 50px;

}

.price-show{
  justify-content: space-around;
}

.price-show h1{
  color: red;
  font-size: 24px;
}


.show-name{
  font: bold 18px Arial;
  text-decoration: none;


  padding: 2px 6px 2px 6px;
  text-align-last: right;
}

.show-banner{
  height: 600px;
  background-color: rgb(227, 204, 204);

}



.show-navbar{
  font-size: 25px;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.show-page-card{
  text-align-last: center;

}

.show-page-card h1{
  font-size: 50px;
}

.show-page-card h2{
  font-size: 40px;
}

.show-page-card h3{
  font-size: 35px;
}

.show-page-card p{
  font-size: 25px}

body {
  background: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}

.product-search {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 15px;
  box-shadow: gray 0 6px 12px 0;
}

.search-element {
  display: flex;
  flex-grow: 2;
  width: 110%;
  flex-direction: column;
  border-right: 1px solid gray;
  padding: 15px;
}

.search-label {
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  line-height: 13px;
  margin-top: 5px;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-button {
  display: inline-block;
  flex-grow: 1;
  height: 80px;
  line-height: 80px;
  padding: 0 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  border: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: tomato;
}

.search-button:hover {
  background-color: palevioletred;
}

.favorite{
  display: flex;
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  text-shadow: #E7F3FF;
  font-style: oblique;
  color: sandybrown;
}

.p-card-action{
  float:left;
}


.name{
  line-break: auto;
}
.city{
  font-size: 15px;
  line-break: auto;
}
.description{
  font-size: 12px;
  line-break: auto;
}

.card-img{
  border-radius: 50px;
  text-align: center;
  padding:20px;
  display: block;
  margin: auto;
}

.login-page{
  display: flex;
  height: 40px;
}

.booking{
  display: flex;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  text-shadow: #E7F3FF;
  font-style: oblique;
  color: sandybrown;
}
.bar{
  display:grid;
  text-align-last: right;
  justify-content: right;
}

.price-show{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: #EF816C;
}


.like{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.address2{
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
}
.hi{
  color: palevioletred;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.detail{
font-family: fantasy;
color: darksalmon;
text-shadow: 0.1em #EF816C;
float: left;
}

.pic{
  float: right;
}

.linkb{
  text-decoration: none;
}

.out{
  text-align: right;
  text-decoration: none;
}

.form{
  display: flex;
  text-align: center;
}

.create{
  text-decoration: none;
  width: fit-content;
  margin: 40px ;
  text-align: left;
  background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.create:hover {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.favorite{
  text-decoration: none !important;
  font-family: 'Courier New', Courier, monospace;
}
