@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
.pagen {
  margin: 0 auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
h1{
  text-align: center;
  font-family: cursive;
}
.creating{
  position: relative;
  background: whitesmoke;
  border-bottom: 1px solid #ccc;
}

input{
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #eee;
  &:focus {

    // removing default focus style
    outline: 0;
    // adding new one
    background: white;
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.backnew{
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}

.backnew:hover{
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}

.backnew::before, .backnew::after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}

.backnew::after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.backnew:hover::before, .backnew:hover::after{
  width:100%;
  transition:800ms ease all;
}
