<body class='full'>
		<div class="guidebooks">

			<h3>Check Your Orders</h3>

			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/im/pictures/6152848/b04eddeb_original.jpg?aki_policy=x_medium">
				<img class="img-small" src="https://a2.muscache.com/im/pictures/34792065/bae84a3f_original.jpg?aki_policy=x_medium">
				<img class="img-small" src="https://a2.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=x_medium">

				<h4>Misha's Wake-up Treat Hotel</h4>
				<p>$1522 Daily <p>
			</div>


			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/ac/pictures/cf3b9363-34e4-4532-b051-6a7663410854.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
				<img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_new_york_food_scene_carousel@2x.jpg">
				<img class="img-small" src="https://a0.muscache.com/airbnb/guidebook/v1_new_york_drinks_nightlife_carousel@2x.jpg">

				<h4>Ty's Seattle Mug Apartment</h4>
				<p>2$725 Daily</p>
			</div>


			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/ac/pictures/b62aa572-cf0b-4e4a-b886-a039a0250cf3.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
				<img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_london_food_scene_carousel@2x.jpg">
				<img class="img-small" src="https://a2.muscache.com/airbnb/guidebook/v1_london_drinks_nightlife_carousel@2x.jpg">

				<h4>Ellsworth's Reg's Equinox Shared Room</h4>
				<p>$636 Daily</p>
			</div>


		</div>
</body>
