<div class="backgroundimg">
<h1 class="text2">New Booking</h1>
<div class="formbooking">
<%= render 'form', booking: @booking %>
</div>
<div>
<%= link_to 'Back', property_path(@property) %>
</div>
</div>
